<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="asyncAppender" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="dailyRollingLogFile" />
	</appender>

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %c - %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="./target/ldapbeans.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %c	- %m%n" />
		</layout>
	</appender>

	<appender name="dailyRollingLogFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="./target/ldapbeans.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p - %c	- %m%n" />
		</layout>
	</appender>

	<category name="ldapbeans">
		<level value="WARN"></level>
	</category>

	<root>
		<level value="WARN"></level>
		<appender-ref ref="asyncAppender" />
	</root>
</log4j:configuration>
